body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: my_font;
    src: url(./font/Gilroy-Bold.ttf);
}

.body1 {
    max-width: 100%;
    max-height: 100%;
    background-color: #F5F5F5;
}

section {
    background-image: url(./img/Rectangle\ 1441.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    max-height: 100%;
    height: 100vh;
    background-position: center;
}

/* header element  */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4%;
    margin-top: 0.5%;
    -webkit-text-fill-color: white;
    font-family: my_font;
}

div>h3 {
    font-size: 30px;

}

div>i {
    font-size: 30px;
}

.intro,
a {
    font-size: x-large;
    text-decoration: none;
}

/* tilte of page */
.header {
    flex-direction: column;
    align-items: center;
    display: flex;
    font-size: 50px;
    line-height: 1.2px;
    margin: 0;
    -webkit-text-fill-color: white;
    font-family: my_font;
    padding: 1% 3%;
}

.pera1 {
    font-size: 30px;
    text-align: center;
    -webkit-text-fill-color: white;
    font-family: "Outfit", sans-serif;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

[type="search"] {
    width: 15%;
    height: 50px;
    border-radius: 40px;
    font-size: 20px;
    padding-left: 15px;
    background-color: #ffffff4d;
    border: 0.5px solid white;
    -webkit-text-fill-color: white;
    outline: 0;

}

[type="submit"] {
    background: url(./img/magnifying-glass-solid-full.svg) no-repeat;
    border: 0;
    background-color: yellow;
    border-radius: 40px;
    padding: 20px 20px 12px 13px;
    font-size: 1px;
    position: absolute;
    right: 43%;
    color: white;
}

.why {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5% 2% 5%;
    font-family: my_font;
}

.why>p {
    font-family: sans-serif;
}

.why a {
    font-family: "Outfit", sans-serif;
    color: #E58411;
}

.why p {
    font-family: "Outfit", sans-serif;
}

.why h4 {
    font-size: 20px;
}