body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

/* font by local */
@font-face {
    font-family: my_font;
    src: url(./font/Gilroy-Bold.ttf);

}


/* full body */
section {
    width: 100%;
    height: 4511px;
    background-color: #ffffff;
    background-size: cover;
}


/* header content */

.header {
    background-image: url(./img/Rectangle\ 1441.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    max-height: 1084px;
    height: 100vh;
    background-position: center;
}

/* first links about home or contain */

.link_home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4%;
    margin-top: 0.5%;
    -webkit-text-fill-color: white;

}

.link_home h3,
i {
    font-family: my_font;
    font-size: 34px;
}

.link_home a {
    text-decoration: none;
    font-size: 22px;
    font-family: "Outfit", sans-serif;
}

/* title of the page */

.title {
    font-size: 50px;
    line-height: 1.2px;
    -webkit-text-fill-color: white;
    font-family: my_font;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pera p {
    -webkit-text-fill-color: #fff;
    font-family: "Outfit", sans-serif;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}

/* search bar with button */

.search {
    max-width: 344px;
    max-height: 56px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.306);
    display: flex;
    align-items: center;
    border-radius: 42px;
    justify-content: space-between;
    margin: auto;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: 8px;


}

.search button {
    background-color: #E58411;
    outline: none;
    border: 0px;
    font-size: 16px;
    padding: 11px 11px;
    border-radius: 24px;
    color: #ffff;
    margin: 11px;

}


[type="search"] {
    max-width: 200px;
    height: 25px;
    outline: 0;
    margin-top: 15.5px;
    margin-bottom: 15.5px;
    margin-left: 20px;
    border: 0px;
    font-size: 25px;
    background-color: #e5861100;
    -webkit-text-fill-color: #ffff;
}

/* introduction about the company  */

.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
    font-family: my_font;
    max-width: 100%;


}

.introduction a {
    text-decoration: none;
    color: #E58411;
    font-family: "Outfit", sans-serif;
}

.introduction h4 {
    font-size: 30px;
    color: #1E1E1E;
}

.introduction h3 {
    font-size: 40px;
    color: #1E1E1E;
}

.introduction p {
    font-family: "Outfit", sans-serif;
    color: #1E1E1E;
    opacity: 80%;
}

/* mid selling product  */

.midprod {
    max-width: 100%;
    height: 906px;
    background-color: #F7F7F7;
    margin-top: 6%;
}

.midprod h3 {
    text-align: center;
    padding-top: 49px;
    font-size: 40px;
    font-family: my_font;


}

.midprod_item {
    max-width: 348px;
    height: 57px;
    border: 0px;
    border-radius: 44px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 45px;

}

.midprod_item a {
    text-decoration: none;
    color: #1E1E1E;
    opacity: 80%;
    font-family: "Outfit", sans-serif;
}

.product_rank {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.carts {
    max-width: 1198.35px;
    height: 492px;
    border: 0px;
    margin: auto;
    margin-top: 100px;
}

.parent {
    max-width: 268.9px;
    height: 441.73px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.child {
    max-width: 268.9px;
    height: 239.15px;
    background-color: #FAFAFA;
}

.product_rank img {
    margin-top: -50px;
    margin-left: 20px;
}

.text_carts {
    margin-left: 20px;
}

.text_carts p {
    font-size: large;
    font-family: "Outfit", sans-serif;
    color: #8D8D8D;
    line-height: 5px;
}


.star_rank {
    margin-top: 0%;
    color: #F6B76F;
}

.title_product p {
    color: #0D1B39;
    font-family: my_font;
    font-size: 20px;
    padding: 0%;
}

.price {
    max-width: 225.44px;
    height: 48.74px;
    border: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0%;
    -webkit-text-fill-color: #0D1B39;
    margin-top: 20%;

}

.price i {
    font-size: 50px;
}

.price p {
    font-size: x-large;
}

.view_carts {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    font-size: 25px;

}

.view_carts a {
    text-decoration: none;
    color: #E58411;
    font-family: "Outfit", sans-serif;
}

/* end of midprod */

/* experinces */
.experience {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 0%;
    margin-right: 15%;
}

.eximg {
    max-width: 629px;
    height: 445px;
    border-radius: 20px;
}

.extitle_p {
    color: #E58411;
    font-family: my_font;
    font-size: 20px;
    letter-spacing: 3px;
}

.extext h3+p {
    color: #1E1E1E;
    opacity: 80%;
    font-family: "Outfit", sans-serif;
    line-height: 30px;
    word-spacing: 5px;
}

.extext h3 {
    font-family: my_font;
    font-size: 40px;

}

.extext a {
    font-size: 20px;
    color: #E58411;
    text-decoration: none;
    font-family: "Outfit", sans-serif;

}

/* testmonial review */
.review {
    border: 0px;
    max-width: 413px;
    height: 94px;
    margin: auto;
    text-align: center;
    margin-top: 12%;
}

.review p {
    color: #E58411;
    font-family: my_font;
    font-size: 20px;
    letter-spacing: 3px;
}

.review h3 {
    font-family: my_font;
    font-size: 40px;
}

.public_review {
    max-width: 1198.35px;
    height: 492px;
    border: 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.review_p {
    max-width: 370px;
    background-image: url(./img/revire\ 1st\ bc.png);
    height: 476px;
    border: 0px;
    margin-top: 0.5%;

}

.emty_box {
    width: 300px;
    height: 249px;
    border: 0px;
}

.review_ditels {
    max-width: 334px;
    height: 206px;
    background-color: #FFFFFF;
    border-radius: 19px;
    margin-left: auto;
    margin-right: auto;
}

.review_ditels img {
    border: 7px solid #FFFFFF;
    border-radius: 50px;
    margin-top: -30px;
    margin-left: 40%;
}

.name_p_review {
    text-align: center;
    line-height: 1px;
}

.name_p_review h4 {
    font-family: my_font;
    font-size: 18px;
    margin-top: 0px;
}

.name_p_review p {
    font-family: "Outfit", sans-serif;
    opacity: 60%;
}

.person_comment p {
    text-align: center;
    margin-top: 15px;
    font-family: "Outfit", sans-serif;
    color: #1E1E1E;
    opacity: 90%;
}

.rate_star {
    margin-left: 35%;

    color: #F6973F;
}